.loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid;
    width: 130px;
    height: 130px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 23%;
    right: 42%;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .block {
    margin-bottom: 5%;
    position: relative;
  }
  .viewContent {
    width: 95%;
    margin: 0 auto;
  }
  .title  {
    font-size: 150%;
    text-transform: capitalize;
    padding: 5px 0;
  }
  .result {
    font-size: 120%;
    margin: 1px 0 1% 0;
  }
  .optionValue {
    text-transform: capitalize;
  }
  .option {
    padding: 1%;
    width: 90%;
    display: inline-block;
  }
  .option0 {

    background: rgba(255,0,0,0.2);
  }
  .option1 {
    padding: 1%;
    background: rgba(0,255,0,0.2); 
  }
  .option2 {
    padding: 1%;
    background: rgba(0,0,255,0.2);
  }
  .option3 {
    padding: 1%;
    background: rgba(255,255,0,0.2);
  }  
  .vote {
    text-align: center;
    z-index: 1;
    position: relative;
  }
  .progress {
    position: relative;
  }
  .progress-bar {
    position: absolute;
    z-index: 0;
  }
  .pagination--align {
    text-align: center;
  }