<div *ngIf=spin class="loader"></div>
<div class="viewContent">
    <div *ngFor="let poll of pagedItems; let i = index" class="block">
        <div class="title">
            <strong>{{i+1}}.</strong><span *ngIf=!update> {{poll.title}}</span>
        </div>
        <div *ngIf="!update" class="update--button">
            <input type="button" (click)="doUpdate(poll._id)" value="edit" class="btn btn-primary">
        </div>
        <div *ngIf="update && updatePollId==poll._id" class="update--form">
            <form #update="ngForm" id="title" (ngSubmit)="onUpdate(update)">
                <div class="update--text">
                    <input type="text" name="update" [(ngModel)]=poll.title required>
                </div>
            </form>
            <div class="update--submit">
                <input type="submit" form="title" class="btn btn-primary" [disabled]="update.invalid">
                <div *ngIf=updateSpin class="update--title--loader"></div>
            </div>
        </div>
        <div *ngFor="let option of poll.options; let j = index" class="result">
            <div class="option option{{j%4}}">
                <div class="optionValue">
                    <strong>{{j+1}}.</strong> {{option.option}}
                </div>
                <div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-success" role="progressbar" [attr.aria-valuenow]=option.vote aria-valuemin="0" aria-valuemax="100"
                            [style.width.%]=option.vote>
                        </div>
                        <div class="vote">
                            {{option.vote}} votes
                        </div>
                    </div>
                </div>
            </div>
            <app-delete-option [pollId]=(poll._id) [pollText]=(option.option) [pollVote]=(option.vote)></app-delete-option>
        </div>
        <app-add-option [pollId]=(poll._id)></app-add-option>
    </div>
    <div class="pagination--align">
        <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(1)">First</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === 1}">
                <a (click)="setPage(pager.currentPage - 1)">Previous</a>
            </li>
            <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}">
                <a (click)="setPage(page)">{{page}}</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.currentPage + 1)">Next</a>
            </li>
            <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}">
                <a (click)="setPage(pager.totalPages)">Last</a>
            </li>
        </ul>
    </div>
</div>