.formbox {
    width: 95%;
    margin: 0 auto;
    margin-top: 5%;
    padding-bottom: 10%;
}
.form-inside {
    margin-bottom: 5%;
}
label {
    float: left;
    color:rgba(0,0,0,0.8)
}
.alert-override  {
    text-align: left;
    margin-top: 1%;
    padding: 6px;
}
.btn-alter {
    font-size: 160%;
    padding: 2%;
    margin-top:10%; 
}
.color {
    background-color: #5cb85c;
    border-color: #4cae4c; 
}
.color:active {
    background-color: #5cb85c;
    border-color: #4cae4c; 
}