.header {
    height: 100px;
    background: white;
    position: relative;
    padding: 0;
}
.heading {
    display: inline-block;
    font-size: 350%;
    margin-left: 1%;
    margin-top: 1%;
}
.btn-alt {
    position: absolute;
    top: 26%;
    right: 6%;
}
.btn-alt:hover {
    transition: box-shadow .5s;
    box-shadow: 0 2px 2px 0 black;
}